<div class="mx-auto my-3 d-flex">
    <div class="mx-auto d-flex justify-content-center p-0 list-style-none">
      <!-- <li class="p-3 btn btn-dark mx-3"><a class="text-light text-uppercase fw-bold text-decoration-none" href="#">all</a></li>
      <li class="p-3 btn btn-dark mx-3"><a class="text-light text-uppercase fw-bold text-decoration-none" href="#">Türkiye</a></li>
      <li class="p-3 btn btn-dark mx-3"><a class="text-light text-uppercase fw-bold text-decoration-none" href="#">Finland</a></li>
      <li class="p-3 btn btn-dark mx-3"><a class="text-light text-uppercase fw-bold text-decoration-none" href="#">Japan</a></li> -->
      <li class="p-3 btn btn-dark mx-3"><a class="text-light text-uppercase fw-bold text-decoration-none h4" href="/home">HOME</a></li>
      <li class="p-3 btn btn-dark mx-3"><a class="text-light text-uppercase fw-bold text-decoration-none h4" href="/foods">Food list</a></li>
      <!-- <li class="p-3 btn btn-dark mx-3"><a class="text-light text-uppercase fw-bold text-decoration-none" href="/food-details">Food Details</a></li> -->
      
    </div>
  </div>