<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

</head>
<body class="bg-dark">
    <%- include('partials/navbar') %>
    
    <div class="container">
        <div class="row mt-5">
            <%- include('partials/food') %>
        </div>

    </div>

</body>

</html>