<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

</head>
<body class="bg-dark">
    <!-- <h1 class="text-light text-center">Home</h1> -->
    <%- include('partials/navbar') %>

    <% foods.forEach(food => { %>
        
        <p class="container text-center my-3"><a class="text-light fs-5" href="foods/<%= food.id %>"><%= food.title %></a></p>

    <% }) %>



</body>
</html>